<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="stylesheet_ref">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0">

<link rel="stylesheet" th:href="@{assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{assets/jquery-ui/jquery-ui.css}">

</head>


<div th:fragment="script_ref">
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script th:src="@{/assets/bootstrap.min.js}"></script>
	<script th:src="@{/assets/jquery-ui/jquery-ui.js}"></script>





</div>
<!-- activities22:59-->
</html>